/*! mhSlider v2.3 | (c) Michael Hochstetter | https://gitlab.com/michihochstetter/mhSlider/raw/master/LICENSE !*/
.mhSlider:has(> img) {
	font-size: 0;
	line-height: 0;
}
.mhSlider:not(:has(> img)) {
	padding-inline: 24px;
}
.mhSlider:not(:has(> img))[data-animated] {
	overflow: hidden;
	-webkit-mask: linear-gradient(90deg, transparent, white 24px, white calc(100% - 24px), transparent);
	mask: linear-gradient(90deg, transparent, white 24px, white calc(100% - 24px), transparent);
}
.mhSlider:not(:has(> img)) > .mhSlider_inner {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	padding: 0;
	list-style-type: none;
}
.mhSlider:not(:has(> img))[data-animated] > .mhSlider_inner {
	flex-wrap: nowrap;
	width: max-content;
	animation: mhSlider_scroll var(--mhSlider-duration, 20s) var(--mhSlider-direction, forwards) linear infinite;
}
.mhSlider:not(:has(> img))[data-animated="false"] > .mhSlider_inner {
	animation-play-state: paused;
}
.mhSlider:not(:has(> img))[data-animated][data-mhslider-duration="fast"] {
	--mhSlider-duration: 10s;
}
.mhSlider:not(:has(> img))[data-animated][data-mhslider-duration="slow"] {
	--mhSlider-duration: 40s;
}
.mhSlider:not(:has(> img))[data-animated][data-mhSlider-direction="reverse"] {
	--mhSlider-direction: reverse;
}
@keyframes mhSlider_scroll {
	to {
		transform: translate(calc(-50% - 12px));
	}
}
